*.log
*.pyc
projectTS/test.py
tests/__pycache__/
projectTS/__pycache__/
projectTS/imagesProcessing/__pycache__/
projectTS/lib/__pycache__/
projectTS/modeControl/__pycache__/
projectTS/socketIO/__pycache__/
projectTS/imagesProcessing/images/